.main-nav {
    background-color: rgb(42, 42, 42);
    color: #a6a6a6;
    text-decoration: none;
    height: 100vh;
    max-width: 15%;
    min-width: 15%;

    .greeting {

        display: flex;
        justify-content: space-around;
        // margin-left: 6px;
        margin-right: 6px;
        padding: 3px;
        text-align: center;
        font-size: 20px;
        font-family: 'Source Code Pro', monospace;
        margin-top: 25px;
        margin-bottom: 25px;
        height: 100px;
        align-items: center;
    }
    .user-icon{
        padding-left: 15px;
        padding-right: 5px;
    }
    .far {
        color: green;
    }

    // .user-icon {
    //     background-image: linear-gradient(#5ef572, #1b2e0b);
    //     border-radius: 50%;
    //     box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    //     height: 30px;
    //     width: 30px;
    //     text-align: center;
    //     font-size: 25px;
    //     text-transform: uppercase;
    //     font-family: Georgia, 'Times New Roman', Times, serif;
    //     margin: 6px;
    // }
}




.create-note {
    display: flex;
    background-color: rgb(39, 172, 39);
    border-radius: 20px;
    width: 90%;
    border: none;
    color: white;
    height: 40px;
    align-items: center;
    cursor: pointer;
    margin: 13px;
    margin-bottom: 20px;
    // justify-content: center;
    margin-bottom: 35px;

    .plus-icon {
        margin-right: 7px;
        margin-left: 15px;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Source Code Pro', monospace;
    }
    .text {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Source Code Pro', monospace;
    }
    &:hover {
        background-color: green;
    }

}


.nav-list {
    text-decoration: none;
    list-style-type: none;
    margin-left: 15px;

    a {
        display: flex;
        text-decoration: none;
        color: #a6a6a6;
        font-size: 22px;
        padding: 10px;
        font-family: 'Source Code Pro', monospace;
        align-content: center;
        height: 70px;
        align-items: center;
        border-bottom: 0.3px solid rgb(124, 124, 124);

    }
    a:first-child {
        border-top: 0.3px solid rgb(124, 124, 124)
    }

    a:hover {
        background-color: rgb(39, 89, 39);
    }

    .fas {
        margin-right: 15px;
    }

}

.footer {
    text-align: start;
    margin-left: 30px;
    position: absolute;
    top: auto;
    bottom: 0;
    width: 20%;
    display: inline-block;
    height: 50px;
   


    a {
        align-content: center;
        text-decoration: none;
        color: #a6a6a6;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Source Code Pro', monospace;
    }
}

