// Place all the styles related to the api/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-page {
    display: flex;
}

.notes-index-header {
    margin: 20px;
    height: 10%;
}

.notes-content {
    bottom: 0;
    height: 90%;
    margin: 15px;

}

.notes-lists {
    height: 50px;
}