.notebooks-index {
    height: 100vh;
    width: 100%;
    grid-column-start: 5;
    grid-column-end: 5;
    padding: 30px;
    // flex-direction: column;

    .notebook-header {
        height: 50px;

        h1 {
            font-size: 30px;
            font-weight: 300;
        }

    }

    .notebook-subheader {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        p {
            color: rgb(95, 94, 94);
        }

        display: flex;
        color: green;
        font-size: 15px;
        // align-content: space-between;
        justify-content: space-between;

        .createNotebook-button {
            display: flex;
            // justify-content: center;
            line-height: 20px;

            &:hover {
                color: rgb(44, 64, 44);
            }
        }
    }

    .notebooks-index-list {
        // display: flex;
        // padding-top: 30px;
        // border-bottom: 1px solid black;
        // justify-content: space-evenly;

        li:first-child {
            border-top: 2px solid #333333;
            font-size: 15px;
        }

        li:nth-child(odd) {
            background: #f8f8f8;
        }

        li {
            display: flex;
            align-items: center;
            height: 30px;
            padding: 5px 15px 5px 15px;
            font-size: 17px;

            .notebook-list-title {
                width: 50%;
            }
            .notebook-list-created-by {
                width: 30%;
            }

            .notebook-list-updated {
                width: 30%;
            }
            .notebook-list-action-button {
                // display: flex;
                // align-items: center;
                width: 30%;
            }

            .rename-button {
                // display: flex;
                background-color: rgb(126, 126, 126);
                border-radius: 3px;
                border: none;
                height: 30px;
                color: white;
                margin: 0px 5px 0px 5px;
                padding: 5px 10px 5px 10px;
    
                &:hover {
                    background-color: rgb(133, 4, 4);
                }
            }
    
            .delete-notebook-button {
                // display: flex;
                background-color: rgb(160, 0, 0);
                border-radius: 3px;
                border: none;
                height: 30px;
                color: white;
                padding: 5px 10px 5px 12px;
    
                &:hover {
                    background-color: rgb(133, 4, 4);
                }
    
            }

        }


    }

}